.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    position: relative;
    width: 15%;
}

.login-wrapper::before,
.login-wrapper::after {
    position: absolute;
    width: 33px;
    height: 20px;
    content: "";
}

.login-wrapper::before {
    left: 0;
    top: 0;
    border-left: 3px solid #ce1141;
    border-top: 3px solid #ce1141;
}

.login-wrapper::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid #0041cc;
    border-bottom: 3px solid #0041cc;
}

.login-title {
    margin: 0 0 .5rem;
}

.login-btn-wrapper {
    margin-top: 1rem;
}

.login-btn {
    cursor: pointer;
    background-color: #0041cc;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.7;
}

.input-field-normal {
    width: 75%;
}

.icon-wrapper {
    margin-bottom: 1rem;
}