.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginWrapper {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    position: relative;
    width: 15%;
}

.loginWrapper::before,
.loginWrapper::after {
    position: absolute;
    width: 33px;
    height: 20px;
    content: "";
}

.loginWrapper::before {
    left: 0;
    top: 0;
    border-left: 3px solid var(--danger);
    border-top: 3px solid var(--danger);
}

.loginWrapper::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
}

.loginTitle {
    margin: 0 0 .5rem;
}

.loginBtnWrapper {
    margin-top: 1rem;
}

.loginBtn {
    cursor: pointer;
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.loginBtn:hover {
    opacity: 0.7;
}

.inputFieldNormal {
    width: 75%;
}

.iconWrapper {
    margin-bottom: 1rem;
}