.tableHeader {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 1rem;
}

.searchAndFilter {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.searchbar {
    padding: 10px;
    border: none;
    border-right: none;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;
    width: 300px;
}

.searchBtn {
    background-color: var(--primary);
    color:white;
    border: none;
    padding: 10px 12px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.filterBtn {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: var(--primary);
    cursor: pointer;
}

.recipeBtn {
    background-color: var(--primary);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-left: 1rem;
}

.recipeBtn:hover {
    opacity: 0.7;
}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    .card {
        .cardBtn {
            padding: .5rem 1rem;
            background: transparent;
            border-radius: 12px;
            cursor: pointer;
            border: 2px solid #e0e0e0;
            text-align: left;
            width: 100%;
            height: 200px;
    
            .cardText {
                margin-bottom: 1rem;
            }
    
            .cardHeader {
                font-size: 20px;
                font-weight: bold;
            }
    
            .time {
                margin-left: .5rem;
            }
    
            .cardImage {
                min-height: 4rem;
                max-height: 4rem;
            }
        }

        .cardBtn:hover {
            border: 2px solid var(--primary);
        }
    }
}
