.tableHeader {
    display: flex;
    justify-content: flex-end;
    margin: 2rem auto 1rem;
}

.newRecipeBtnText {
    position: relative;
    right: .3rem;
    bottom: .2rem;
}

svg {
    color: var(--primary);
    position: relative;
}

.recipeBtn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: bold;
    margin-left: 1rem;
}