.header {
    /*background: linear-gradient(var(--primary), #1b6f1b);*/
    background-color: white;
    color: black;
    border-bottom: 1px solid #e0e0e0;
}

.headerContent, .body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.headerContent {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.homeBtn {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.homeIcon {
    color: var(--primary);
}

.title {
    color: var(--primary);
    margin: .5rem 0;
}

.userContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: .5rem;
}

.user {
    margin: 0;
    font-weight: bold;
}

body {
    background-color: white;
    min-height: 100vh;
}

.footer {
    text-align: center;
    background-color: #f0f0f0;
    height: 50px;
    margin-top: 2rem;
}

/* Using ID over class to override base-btn border property */
#logoutBtn {
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

#logoutBtn:hover {
    opacity: 0.7;
}