.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--primary);
  border-radius: 5px;
}

.modal {
  position: relative;
  width: 300px;
  height: 220px;
  background: #f1f1f1;
  z-index: 100;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  text-align: center;
}

.modal-header {
  padding: 2rem 1rem 1rem;
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: .5rem;
  margin: 1rem 0;
}

.modal-btn {
  cursor: pointer;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 8px;
}

.modal-btn:hover {
  opacity: 0.7;
}

.modal-cancel-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
}

.modal-delete-btn {
  border: 1px solid var(--secondary);
  color: white;
  background: var(--secondary);
}
