.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: relative;
  width: 300px;
  height: 220px;
  background: #f1f1f1;
  z-index: 100;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  text-align: center;
  border: 2px solid var(--primary);
  border-radius: 5px;
  animation: scaleUp .5s cubic-bezier(0.165, 0.240, 0.140, 1.00) forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1) translateY(1000px);
    opacity: 0;
    overflow: hidden;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.modalHeader {
  padding: 2rem 1rem 1rem;
}

.modalActions {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: .5rem;
  margin: 1rem 0;
}

.modalBtn {
  cursor: pointer;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 8px;
}

.modalBtn:hover {
  opacity: 0.7;
}

.modalCancelBtn {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
}

.modalDeleteBtn {
  border: 1px solid var(--secondary);
  color: white;
  background: var(--secondary);
}
