.recipe-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.recipe-form-label {
    display: block;
    font-weight: bold;
    font-size: large;
    margin-bottom: .5rem;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.input-max-width {
    width: 100%;
}

.input-flex {
    flex-grow: 1;
}

.prep-cook-time {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.submit-btn-row {
    text-align: center;
    margin-top: 2rem;
}

.submit-btn {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
}

.submit-btn:hover {
    opacity: .7;
}

.add-btn-row {
    margin: 1rem 0;
    text-align: right;
}

.add-btn {
    padding: 10px;
    font-weight: bold;
}

.add-btn-span {
    margin-right: .25rem;
}

.instruction-element {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .5rem;
}

.textarea {
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.secondary-color {
    color: var(--secondary);
}
