.recipeForm {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.inputList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.inputMaxWidth {
    width: 100%;
}

.inputMinWidth {
    width: 15%;
    margin-right: 5px;
}

.inputFlex {
    flex-grow: 1;
}

.recipeFormBtn {
    background-color: white;
    color: var(--primary);
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-weight: bold;
}

.recipeFormContainer {
    margin: 2rem 0;
}

.recipeFormBtn:hover {
    opacity: 0.7;
}

.prepCookTime {
    display: flex;

}

.submitBtnRow {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2rem 0;
}

.formBtn {
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: bold;
}

.formBtn:hover {
    opacity: 0.7;
}

.deleteBtn {
    border: 1px solid var(--danger);
    color: var(--danger);
}

.submitBtn {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
}

.addBtnRow {
    margin: 1rem 0;
    text-align: right;
}

.addBtn {
    padding: 10px;
    font-weight: bold;
    position: relative;
    right: 1.5rem;
}

.addBtnSpan {
    margin-right: .25rem;
}

.listElement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .5rem;
}

.textarea {
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

@media (max-width: 607px) {
    .prepCookTime {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .inputList {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .inputMaxWidth, .textarea {
        width: 90%;
    }
}
