.times {
    display: flex;
    column-gap: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}

.ingredientList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
}

.recipeActions {
    text-align: center;
    margin-bottom: 2rem;
}

.instructionList {
    padding-left: 1rem;
}

.instruction {
    margin: 1rem 0;
}

.ingredient {
    margin-bottom: .5rem;
}

.list {
    margin-bottom: 2rem;
}

.ingredientsList {
    width: 50%;
}

.recipeNotesWrapper {
    margin-bottom: 1rem;
}

.recipeNotes {
    margin: 0;
}