:root {
    --primary: #0041cc;
    --secondary: #ce1141;
}

.base-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.base-btn:hover {
    opacity: 0.7;
}

.recipe-btn:hover {
    opacity: 0.7;
}

.my-1 {
    margin: 1rem 0;
}